* {
	padding: 0;
	margin: 0;
	outline: 0;
}

ul,
ol {
	list-style: none;
}

a,
a:hover,
a:active {
	text-decoration: none;
}

body {
	font-family: 'BenchNine', sans-serif;
	font-family: 'Concert One', cursive;
	font-family: 'Cookie', cursive;
	font-family: 'Courgette', cursive;
	font-family: 'Francois One', sans-serif;
	font-family: 'Fugaz One', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Kurale', serif;
	font-family: 'Lobster Two', cursive;
	font-family: 'Oleo Script', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Passion One', cursive;
	font-family: 'Pirata One', cursive;
	font-family: 'Playball', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Satisfy', cursive;
	font-family: 'Stint Ultra Condensed', cursive;
	font-family: 'Open Sans', sans-serif;
}


/*header part css code start*/

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.navbar-brand img {
	width: 50px;
}

.carousel {
	position: relative;
}

.menu {}

.navbar-nav .nav-item .nav-link {
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	color: #0149a1;
	text-transform: uppercase;
	margin-left: 10px;
	display: block;
}

.navbar-nav .nav-item .nav-link.active {
	color: #3c5a99;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #147e90;
	border: 1px solid #147e90;
	border-radius: 30px;
	transition: all linear .3s;

}

.navbar-nav .nav-item .nav-link:focus {
	color: #147e90;

}

.icon ul {
	padding: 0;

}

.icon ul li {
	display: inline-flex;
	padding-left: 10px;
}

.icon ul li a {
	font-size: 20px;
	text-align: center;
	padding: 20px;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border: 1px solid #0149a1;
	color: #0149a1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	margin-left: 5px;
	transition: all linear .3s;
}

.icon ul li a:hover {
	color: #28aae3;
	border: 1px solid #28aae3;
	transition: all linear .3s;
}

/*header part css code end*/
/*banner part css code start*/

.nav-overlay {
	padding-top: 150px;
	padding-bottom: 100px
}

.ban-con {
	color: #0149a1;
	text-align: center;
}

.ban-con h4 {
	font-size: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 10px;

}

.ban-con h5 {
	font-size: 30px;
	font-family: 'Oleo Script', cursive;
	font-weight: 400;
	justify-content: center;

}

.ban-bottom ul {
	padding: 0;
	text-align: center;
	margin-top: 40px;

}

.ban-bottom ul li {
	display: inline-flex;
	padding-left: 10px;

}

.ban-bottom ul li a {
	color: #ffffff;
	padding: 8px 30px;
	border: 1px solid #147e90;
	background-color: #0149a1;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	border-radius: 30px;
	transition: all linear .5s;

}

.ban-bottom ul li a:hover {
	background-color: #ff2d55;
	border: 1px solid #ff2d55;
	transition: all linear .3s;
}

/*banner part css code start*/


/*services part css code start*/
.services {
	padding-bottom: 10px;
}


.ser-bg {
	background: url(../images/ser-img.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.ser-overlay {
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	padding: 38px 20px;
	margin-bottom: 40px;

}

.ser-overlay h4 {
	font-size: 22px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 10px;
	margin-top: 30px;
}

.ser-overlay p {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	line-height: 25px;
	text-align: center;
}

/*services part css code end*/
/*creativity part css code start*/
.creativity {
	background: url(../images/creative-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.creativity-overlay {
	padding: 200px 0px;
	text-align: center;
}

.creativity-overlay ul {
	padding: 0;
}

.creativity-overlay ul li a {
	color: #ffffff;
	padding: 8px 30px;
	border: 1px solid #147e90;
	background-color: #0149a1;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	border-radius: 30px;
	transition: all linear .5s;
}

.creativity-overlay ul li a:hover {
	background-color: #ff2d55;
	border: 1px solid #ff2d55;
	transition: all linear .3s;
}

/*creativity part css code end*/
/*work part css code start*/
.work {
	background-color: #0149a1;
	padding: 30px 0px;
	text-align: center;
}

.work-head h4 {
	font-size: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 10px;
	margin-top: 30px;
	color: aliceblue;
}

.work-head h5 {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	color: beige;
	font-weight: 500;
	line-height: 25px;
	text-align: center;
	margin-bottom: 50px;
}

.work-con p {
	color: aliceblue;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	line-height: 25px;
}

.pad {
	padding: 20px 0px 0px 10px;
}

.pad ul li a {
	background-color: aliceblue;
	color: #0149a1;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700px;
	padding: 10px 40px;
}

.pad ul li a:hover {
	color: aliceblue;
}

/*work part css code end*/
/*clients part css code start*/
.clients-overlay {
	padding: 100px 0px;

}


/*clients part css code end*/
