* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.form-main {
    height: 90%;
    max-height: 500px;
    margin: 0 auto;
}

.form-group {
    background-color: rgb(241, 241, 241);
    padding: 10px 10px;
    font-size: 15px;
    color: indigo;
}

.form-group input,
.form-group textarea {
    color: yellowgreen;
    padding: 8px 5px;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: transparent;
    border: 1px solid rgb(190, 236, 209);
    font-size: 15px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    display: block;
    font-size: 15px;
    background-color: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    text-align: center;
    border: none;
    outline: none;
    padding-top: 10px;
    transition: .3s ease background-color;
}

button:hover {
    background-color: #46cceb;
    color: #ffffff;
    transition: .3s ease background-color;
}