*{
    padding: 0;
    margin:0;
    outline: 0;
    
}
ul,ol{
    list-style: none;
}
a,a:hover{
text-decoration: none;
}
/*nav part css start*/

body{
    
    
    
}
nav{
    background-color: rgba(82, 198, 198, 0.87);
   
}
.kajol{
    clear: both;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
.logo{
    width: 30%;
    float: left;
}

.menu {
    width: 70%;
    float: left;

}
.menu ul {
    float: right;
}
.menu ul li{
    float: left;
    padding: 15px 20px;
    
}
.menu ul li a {
    color: aliceblue;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 50px;
}
.jk{
    float: right;
    color:black;
    background-color:rgba(198, 165, 138, 0.56);
    border-radius: 30px;
    padding: 10px 20px; 
}
/*nav part css end*/

/*banner part css start*/
.banner{
background: url(../images/burj.jpg);
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;

}
.banner-overlay{
    padding: 165px 20px;
    background-color: rgba(0, 0, 0, 0.52);
}
.banner-con{
    color: #fff;
}
.banner-con h1{
        font-size: 40px;
    font-family:monospace;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.banner-con h4{
        font-size: 20px;
    font-family:monospace;
    text-transform: uppercase;
    color: yellowgreen;
    margin-bottom: 40px;
}
.banner-con a{
        font-size: 25px;
    font-family:monospace;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 30px;
}
/*banner part css end*/

/*about part css code start*/
.about-head h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px 0;
    background-color: rgba(193, 114, 9, 0.85);
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
}

.logo img{
    height: 100px;
    margin-top: 9px;
}
.about-img{
width: 48%;
    float:left;
}
.about-img img {
    width: 100%;
   
}
.about-content{
    width: 50%;
    float:left;
    margin-left: 15px;
}
.about-content p{
    line-height: 25px;
    
}


/*about part css code end*/