.juwel{
		height:100px;
        width:100px;
        background-color:indigo;
        color:red;
         text-align:center;		 
        padding :10px 0px 0px 10px;
   margin-bottom:10px;
padding-right:10px;
float:left;
margin-right:10px;


}
.jannat{
		height:100px;
        width:100px;
        background-color:teal;
        color:#ddd ;
         text-align:center;		 
        padding :10px 0px 0px 10px;
       margin-bottom:10px;
padding-right:10px;
float:left;
margin-right:10px;
  
  
  }
.kasem{
		height:100px;
        width:100px;
        background-color:tomato;
        color:cyan;
         text-align:center;		 
        padding :10px 0px 0px 10px;
    margin-bottom:10px;
padding-right:10px;
float:left;
margin-right:10px;
 
 
 }
.kajol{
		height:100px;
        width:100px;
        background-color:pink;
        color:black;
         text-align:center;		 
        padding :10px 0px 0px 10px;
   margin-bottom:10px;
padding-right:10px;
float:left;
margin-right:10px;

}
